* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.title {
  font-size: 2rem;
  margin: 4rem 0;
  text-align: center;
}
form {
  border: 3px solid #333;
  border-radius: 8px;
  width: 50%;
  height: auto;
  margin: auto;
}
.form-container {
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
input[type="text"],
input[type="password"],
select {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #333;
  border-radius: 5px;
}
label {
  font-size: 18px;
  margin-top: 20px;
}

button {
  width: 30%;
  padding: 10px 15px;
  align-self: center;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  button {
    width: 50%;
    font-size: 15px;
  }
  .title {
    font-size: 1.5rem;
  }

  label {
    font-size: 15px;
  }
}
